html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}
p {
  margin: 0;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding: 0;
}
body {
  min-width: 320px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;
  color: #0f1f1c;
  background: #f6f6f6;
  margin: 0;
  overflow-x: hidden;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
}
.overflow-hidden {
  overflow: hidden;
}
.heading {
  font-weight: 600;
  font-size: 55px;
  line-height: 82px;
}
.section-title {
  font-weight: 600;
  font-size: 55px;
  line-height: 82px;
  color: #0f1f1c;
}
.button {
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
  border-radius: 27px;
  &:hover {
    color: #0f1f1c;
  }
  &:active {
    border: 2px solid #0f1f1c;
  }
}
.menu-button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  padding: 10px 30px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 100px;
  transition: background 0.5s;
  &:hover {
    background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
  }
  &:active {
    color: #000;
  }
}
.logo {
  width: fit-content;
  height: 22px;
  &__img {
    width: 68px;
    height: 22px;
    object-fit: contain;
  }
}
.menu {
  &-list {
    &__link {
      position: relative;
      display: block;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      margin: 0 40px;
      &--header {
        color: #ffffff;
        &:hover {
          color: #ffffff;
          &::after {
            position: absolute;
            display: block;
            content: "";
            width: 80%;
            height: 4px;
            bottom: -5px;
            left: 0;
            background-color: #c4c4c4;
            border-radius: 100px;
          }
        }
      }
      &--footer {
        color: #0f1f1c;
        opacity: 0.5;
        &:hover {
          color: inherit;
          text-decoration: underline;
        }
      }
    }
  }
}
