.modal {
  &-header {
    background: linear-gradient(132.05deg, #428e5f -8.38%, #112120 100.4%);
    color: #fff;
  }
  &-title {
    font-size: 24px;
    text-align: center;
    padding: 20px 10px;
  }
  &-link {
    text-decoration: underline;
    &:hover {
      color: inherit;
    }
  }
  &-check-text {
    font-size: 15px;
    line-height: 16px;
  }
  &-footer {
    padding-top: 20px;
    justify-content: center;
  }
}
.btn {
  color: #ffffff;
  border-radius: 30px;
  transition: all 0.5s;
  &-prime {
    padding: 12px 32px;
    background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
    &:hover {
      border: 1px solid #000;
      color: #fff;
    }
  }
  &-second {
    padding: 12px 32px;
    background: linear-gradient(132.05deg, #428e5f -17.38%, #112120 78.4%);
    &:hover {
      border: 1px solid #000;
      color: #fff;
    }
  }
}
.form-check-input:checked {
  background-color: green;
  border-color: green;
}
img.hover-shadow {
  transition: 0.3s;
}
.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.slick-lightbox {
  .slick-next {
    width: 60px;
    height: 60px;
    right: 50px;
    z-index: 10;
    &::before {
      font-size: 60px;
    }
  }
  .slick-prev {
    width: 60px;
    height: 60px;
    left: 50px;
    z-index: 10;
    &::before {
      font-size: 60px;
    }
  }
  .slick-lightbox-close {
    width: 40px;
    height: 40px;
    &::before {
      font-size: 40px;
    }
  }
}
